@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Special+Elite&display=swap');


:root {
    --primary: #5a4429;
    --dark: #444441;
    --light: #ddd1c0;
    --cover: rgba(151, 130, 101, 0.6);
    --shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --hover: #353532;
    --hovertext: white;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}

body {
    background: var(--light);
    color: var(--primary);
    font-size: 100%;
    box-sizing: border-box;
    text-align: center;

}

.container {
    display: grid;
    width: 90%;
    margin: 1vh auto;
    overflow: auto;
    padding: 10px;
}

.heading {
    font-size: 3em;
    margin: auto;
    font-family: 'Special Elite', cursive;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.quiz-section {
    margin-top: 10px;
}

.quiz-panel {
    display: flex;
    flex-direction: column;
    margin: 1%;
    gap: 15px;
    padding: 1em 2em 2em 2em;
    background: white;
    border: 1px solid var(--dark);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--shadow);
    border-radius: 7px;
}

#questionArea {
    font-weight: bold;
    font-size: 2em;
    padding-top: 1%;
}


#answers-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 1%;
}

#message-section {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--shadow);
    border-radius: 7px;
    padding: 1em 2em 2em 2em;
    background: white;
    border-radius: 7px;
    border: 1px solid var(--dark);
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    justify-content: space-evenly;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5px;
    color: var(--dark);
}

p {
    margin: 0.5em;
    font-weight: 600
}

#progress {
    font-size: large;
    font-weight: bold;
}

.btn {
    box-shadow: var(--dark);
    background: var(--light);
    color: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px;
    margin: 6px;
    font-size: large;
    font-weight: 600;
    transition-duration: 0.4s;
    min-width: 100px;
}

.btn:hover {
    background-color: var(--dark);
    color: var(--hovertext);
}

/* Inactive on load */
#scoreboard {
    visibility: hidden;
}

.hide {
    display: none;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

/* <div id="scoreboard">
                Your score is <span id="current-score">0</span>/10
            </div> */

/* For medium screens size from 600px wide and down */
@media screen and (max-width: 600px) {
    #answers-area {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        margin: 0%;
    }

    .quiz-panel {
        gap: 5%;
    }
}

/* Modal Pop Up to display results */

.modal {
    display: none;
    position: fixed;
    padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
    z-index: 1;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}

.modal-content {
    background-color: white;
    border-radius: 0.5em;
    max-width: 700px;
    padding: 2em;
    margin: auto;
    border: 1px solid var(--dark);
    box-shadow: var(--dark);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}