body {
    background-color: white;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: grid;
    width: 60%;
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    text-align: center;
    background-color: brown;
}


.quiz-area {
    background-color: blue;
}

.quiz-panel {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    background-color: blueviolet;
}

#question-result {
    font-weight: bold;
}

#answers-area{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

